/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */

 *, *:before, *:after {
  box-sizing: border-box;
}

.geosuggest {
  font-size: 16px;
  position: relative;
  text-align: left;
  transition: 0s ease 0s;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 2px;
}
.geosuggest__input:focus {
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  /* margin-top: -1px; */
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
}
.geosuggest__item--active {
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
}
.geosuggest__item__matched-text {
  font-weight: bold;
}
